[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
six = "*"
django-utils-six = "*"
django-oauth-toolkit = "*"
djoser = "*"
pillow = "*"
psycopg2-binary = "*"
django-taggit = "*"

[dev-packages]

[requires]
python_version = "3.12"
